@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    @apply bg-background-dark text-text-main font-display antialiased overflow-x-hidden;
  }
}

@layer utilities {
  .blinking-cursor::after {
    content: '_';
    animation: blink 1s step-end infinite;
  }

  .terminal-scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .terminal-scrollbar::-webkit-scrollbar-track {
    background: #0B1416;
  }

  .terminal-scrollbar::-webkit-scrollbar-thumb {
    background: #1C3338;
    border-radius: 4px;
  }

  .terminal-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #D4AF37;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
